* {
  box-sizing: border-box;
}
a{
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Roboto", sans-serif;
 
}
.header {
  background-color: black;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  text-decoration: none;
  margin-top: 0px;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
  text-decoration: none;
  color: aliceblue;
  transition: 0.3s;
}
.nav-link:hover {
  color: #ffa500;
}
.my-name {
  font-size: 50px;
  color: black;
}
.name-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 940px;
  margin: 0 auto;
  border-bottom: 5px solid black;
}
.name-wrapper p {
  font-size: 30px;
  color: black;
  margin-top: 20px;
}
.my-photo {
  width: 300px;
  border-radius: 5%;
  margin-bottom: 10px;
}
.name {
  margin-top: 50px;
}
.wrapper-section {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.section {
  border-bottom: 2px solid black;
  width: 50%;
}
.projects{
  border-bottom: none
}
.section-title {
  color: #ffa500;
  margin-bottom: 5px;
}
.contacts {
  padding-left: 10px;
  margin-top: 5px;
}
.contacts-item {
  list-style: none;
  padding-bottom: 5px;
}
.contacts-item_color:hover {
  color: #ffa500;
  transition: 0.5s;
}
.code-examples{
  line-height: 30px;
}
.link-projects{
  list-style: none;
  text-decoration: none;
  color: black;
  transition: .3s;
}
.link-projects:hover{
  color: #ffa500;
}
.footer{
  background-color: black;
}
.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
}
.rs-logo{
  width: 70px;
}
.age{
  color: aliceblue;
}
.github-link{
  color: aliceblue;
}
